@charset "utf-8";

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
  }

  html { overflow-y: scroll; }
  input[type='radio'] { vertical-align: text-bottom; }

  label,input[type='button'],input[type='submit'],button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }

 sub { bottom: -.25em; }

.cf:before,.cf:after {
  display: table;
  content: " ";
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #34404b
}
a {
  color: #34404b;
  text-decoration: none;
  display: inline-block;
}
hr {
  border-top: #f2f2f2;
}
ul{
  list-style: none;
}
ul li {
  float: left
}
.pull-left {
  float: left
}
.pull-right {
  float: right
}
.m-none {
  margin: 0
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.container-full {
  display: block;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto
}
.container-med {
 max-width: 960px;
  margin: 0 auto 
}
.contact-details {
  padding: 23px 0
}
.contact-details a {
  font-size: 12px;
  margin-right: 15px;
}
.contact-details a img {
  margin-right: 10px;
}
.login a {
  font-size: 14px 
}
a.btn-border {
  border: 2px solid #ff804a;
  padding: 7px 15px;
  border-radius: 4px;
}
.login a.btn-border {
  margin-left: 20px
}
.login {
  padding: 15px 0px;
}
.col-2 {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.logo {
  padding: 21px 0;
}
a.mobile-menu {
    float: right;
    margin-top: 35px;
    display: none
}
ul.menu {
  margin-top: 30px;
}
ul.menu li a {
  font-size: 16px;
  padding: 20px;
  position: relative
}
ul.menu li.active a:after {
    content: "";
    display: block;
    height: 4px;
    width: 20px;
    background: #fc4111;
    position: absolute;
    bottom: 10px;
}
.menu li.active a {
  color: #fc4111;
}
.button {
  background: #fc4111;
  color: #fff!important;
  padding: 12px 60px;
  transition: all ease-in-out .3s
}
.button:hover {
  background: #777;
}
.banner {
  max-width: 960px;
  padding: 140px 0 120px;
  margin: 0 auto;
  position: relative;
}
/*.banner:after {
  content: "";
  display: block;
  background: url(../images/chef.png) no-repeat;
  height: 149px;
  width: 186px;
  position: absolute;
  bottom: 0;
  left: 100%;
}*/
.banner-bg {
  background: url('../images/bg.png');
  background-size: cover;
}
.banner h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}
.banner h4 {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.banner a{
  font-size: 18px
}
.dates {
  background: #2f2f2f;
  padding: 15px 20px
}
.dates span {
  font-size: 20px;
  padding-right: 40px;
  border-right: 1px solid #fff;
  color: #fff;
  margin-right: 40px;
}
.dates span:last-child {
  padding: 0;
  margin: 0;
  border: 0
}
.dates span big {
  font-size: 24px;
  margin-left: 40px;
}

h2 {
  font-size: 46px;
  text-align: center;
  margin-bottom: 20px
}
.certification {
  background: #f4f6f8;
  padding: 90px 20px 50px
}
.certification p{
  margin-bottom: 30px
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px
}
.levels {
  padding: 80px 20px
}

ul.cf.level-menu {
  display: inline-block;
  margin-bottom: 40px;
}
ul.cf.level-menu a {
  font-size: 24px;
  color: #ff5912;
}

ul.cf.level-menu li {
    padding: 0 40px;
}
ul.cf.level-menu li.active a {
    color: #3b3a3a;
    font-weight: 600;
    position: relative
}
ul.cf.level-menu li.active a:after {
    content: "";
    display: block;
    height: 4px;
    width: 20px;
    background: #fc4111;
    position: absolute;
    bottom: -10px;
}
.heading {
  width: 40%;
  float: left;
  font-size: 20px;
  padding: 20px 0;
}
.content {
    width: 60%;
    float: left;
}
.content a {
  color: #ff5912;
}
.message {
  background: url(../images/message-bg.png) no-repeat;
  margin-left: -56px;
  padding: 30px 50px 30px 120px;
  margin-bottom: 50px;
}
.message p {
  margin-bottom: 10px
}
.message p:last-child {
  margin-bottom: 0
}

.testimonial {
  background: #f4f6f8;
  padding: 80px 20px;
}
.testimonial h2 {
  margin-bottom: 20px
}
.slider {
  margin-top: 60px;
}
.slide {
  padding: 40px;
  background: url(../images/user-bg.png) no-repeat;
  display: flex;
  box-shadow: 0 1px 5px #ccc;
  background-color: #fff;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
}
.slide-img {
  float: left;
  margin-right: 25px;
  position: relative;
  width: 390px
}
.slide-img img {
  position: absolute;
  bottom: 40px;
}
.slide-content p.desc {
  padding-right: 70px;
  margin-bottom: 40px
}
.slide-content p {
  margin-bottom: 10px
}
.slide-content h4 {
  font-size: 20px;
  font-weight: 600;
}
.slide-footer {
  border-top: 1px solid #777;
  padding-top: 10px;
}
.slide-footer span {
  font-size: 20px;
}
.users-section {
  padding: 80px 20px
}
.users-section h2 {
  margin-bottom: 10px
}
.users .user:nth-child(4n+1) {
  clear: both
}
.user {
    width: 23%;
    padding: 25px 35px;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 0px 1px #ccc;
    background: url(../images/user-bg.png) no-repeat;
    background-size: contain;
}
.users img {
  margin-bottom: 30px
}
.user h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500
}
.user p {
 font-size: 14px;
 margin-bottom: 0
}
.user p.big {
    font-size: 16px;
    margin-bottom: 5px
}
.user hr {
    margin: 15px 0 10px;
}
.social {
  background: #f2f2f2;
  padding: 20px 0;
  border-bottom: 1px solid #fff
}
.social p {
    font-size: 16px;
}
.social a{
  margin: 0 5px
}
.footer1 {
  padding: 40px 20px;
  background: #f2f2f2
}
.footer1 ul{
  display: inline-block;
}
.flogo1 {
  margin-left: 16px
}
.footer1 ul {
  margin-left: 50px
}
.footer1 li {
  font-size: 16px;
  margin-right: 35px
}
footer {
  margin-top: 20px
}
.payments span {
    font-weight: 500;
    margin-right: 30px;
}

@media (max-width: 960px){
.banner h4 {
    font-size: 20px;
    margin-bottom: 30px;
}
.banner h2 {
    font-size: 34px;
    text-align: left;
}
.banner {
    padding: 60px 0 60px;
}
.dates span {
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
.dates span big{
    float: right;
    font-size: 20px;
	margin-left:0;
}
.certification {
    padding: 30px 20px 20px;
}
h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 10px;
}
.certification p {
    margin-bottom: 15px;
}
.levels {
    padding: 40px 20px 50px;
}
.heading {
  width: 100%;
  float: none;
  padding: 10px 0;
}
.message {
  margin-left: 0;
}
.testimonial {
    padding: 40px 20px 60px;
}
.slider {
  margin-top: 60px;
}
.users-section {
  padding: 40px 20px;
}
.user {
  width: 48%;
}
.users .user:nth-child(4n+1) {
  clear: none;
}
.users .user:nth-child(2n+1) {
  clear: both;
}
.container-full {
  padding-left: 30px!important;
  padding-right: 30px!important;
}
}

@media(max-width: 768px){
	.contact-details a {
    font-size: 12px;
    margin-right: 15px;
    float: left;
}

.dates {
    background: #2f2f2f;
    padding: 25px 20px;
}

.user {
    width: 23%;
    padding: 25px 84px;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 0px 1px #ccc;
    background: url(../images/user-bg.png) no-repeat;
    background-size: contain;
}

.logo{
	padding:26px 0;
	margin: -15px;
}
.user {
  width: 98%;
}
.login {
  padding: 0px 0px 15px;
}
ul.menu li a {
  font-size: 14px;
  padding: 18px 10px;
}
ul.menu {
    margin-top: 0;
    float: none;
}
.slide-img {
    float: left;
    margin-right: 25px;
    position: relative;
    display: block;
    width: 100%;
}
.message {
    background: url(../images/mobile-message-bg.png) no-repeat;
    background-size: cover;
    padding: 70px 40px 30px;
}
.users .user:nth-child(4n+1) {
    clear: none;
}
.users .user:nth-child(2n+1) {
    clear: none;
}
.content {
    width: 100%;
    float: none;
}
.slide {
    display: block; 
}
.slide-img img {
    position: static; 
    margin-bottom: 20px;
}
.slide-content p.desc {
    padding-right: 0px;
    margin-bottom: 20px;
}
ul.cf.level-menu li {
    padding: 0 15px;
}
ul.cf.level-menu a {
    font-size: 16px;
    color: #ff5912;
}
ul.cf.level-menu {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dates span {
    font-size: 16px;
}
.dates span big{
    font-size: 16px;
}
.footer1 {
  text-align: center
}
.flogo1 {
    margin-left: 0;
}
.footer1 ul {
    margin-left: 0;
    display: block;
}
.footer1 li {
    margin-right: 0;
    float: none;
    padding: 5px 0;
}
.payments span {
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
}
.footer1 img {
  margin-bottom: 10px
}
.payments {
    float: none;
    margin-top: 40px;
}
.users-section {
    padding: 40px 40px;
}
p {
    font-size: 15px;
}
.slider {
    margin-top: 30px;
}
}